Package: linker
Version: {version}
Architecture: all
Maintainer: snltty <1069410172@qq.com>
Section: utils
Description: linker
Depends: libc, libstdcpp, zlib, bash, libopenssl, libopenssl-legacy, iptables
