* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a {
    background-image: linear-gradient(92deg, #ff0000, #ff9000, #ffdc00, #23bf08, #00ffb2, #0072ff, #fd00ff);
    background-size: 0% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;

    transition: .3s;
}

a:hover {
    background-size: 100% 2px;
    background-position: right bottom;
}

:root {
    --foot-menu-dropdown-color: #f5f5f5;
}

a.a-line {
    text-decoration: underline;
    ;
}

.ellipsis {
    white-space: nowrap;      /* 禁止换行 */
    overflow: hidden;         /* 隐藏超出部分 */
    text-overflow: ellipsis;  /* 显示省略号 */
    max-width: 100%;
}
.nowrap {
    white-space: nowrap;  
}


.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex: 1 1 0%;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.relative {
    position: relative;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100% !important;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

.t-l {
    text-align: left !important;
}

.pdl-6 {
    padding-left: .6rem;
}

.pdb-6 {
    padding-bottom: .6rem;
}

.pdl-10 {
    padding-left: 1rem;
}

.pdl-20 {
    padding-left: 2rem;
}

.pdt-10 {
    padding-top: 1rem;
}

.pdr-10 {
    padding-right: 1rem;
}
.mgr-p6{margin-right:.6rem;}
.mgr-1 {
    margin-right: 1rem !important;
}

.mgl-1 {
    margin-left: 1rem;
}

.mgl-2 {
    margin-left: 2rem;
}

.mgl-3 {
    margin-left: 3rem;
}

.mgb-0 {
    margin-bottom: 0 !important;
}

.mgb-3 {
    margin-bottom: 3rem;
}

.mgt-1 {
    margin-top: 1rem;
}
.mgt-2 {
    margin-top: 2rem;
}
.mgt-3 {
    margin-top: 3rem;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

html {
    font-size: 10px;
    background-color: #f5f5f5;
}
html.dark{
    background-color: #000;
}
html.dark .el-switch__core .el-switch__action{
    background-color: #ccc;
}
html.dark .el-dialog{border: 1px solid #575c61;}

body {
    overflow: hidden;
}

span.split {
    width: 0.6rem;
}

span.split-pad {
    padding: 0 0.3rem;
}

span.split-pad10 {
    padding: 0 1rem;
}

.middle {
    vertical-align: middle;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}
.app-nat {
    color: #018a81 !important;
}

.yellow {
    color: #e68906 !important;
}

.disable {
    color: #ddd !important;
}

.gateway {
    &.green {
        /* background: linear-gradient(270deg, #caff00, green, #0d6d23, #e38a00, green); */
        /* linear-gradient(270deg, #caff00, green, #0d6d23, #e38a00, green) */
        /* background-clip: text; */
        /* -webkit-background-clip: text; */
        /* -webkit-text-fill-color: hsla(0, 0%, 100%, 0); */
        transition: .3s;

        &:hover {
            background: linear-gradient(270deg, #caff00, green, #0d6d23, #e38a00, green);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
        }
    }

}



.scrollbar,
.scrollbar-1,
.scrollbar-4,
.scrollbar-10 {
    overflow: auto;
}

.scrollbar-1::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}

.scrollbar-1::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scrollbar-4::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrollbar-4::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scrollbar-10::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.scrollbar-10::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

:root {
    --el-color-primary: var(--el-color-success) !important;
    --el-color-primary-light-3: var(--el-color-success-light-3) !important;
    --el-color-primary-light-5: var(--el-color-success-light-5) !important;
    --el-color-primary-light-7: var(--el-color-success-light-7) !important;
    --el-color-primary-light-8: var(--el-color-success-light-8) !important;
    --el-color-primary-light-9: var(--el-color-success-light-9) !important;
    --el-color-primary-dark-2: var(--el-color-success-dark-2) !important;

}

.el-table {
    --el-table-header-text-color: var(--el-text-color-regular) !important;
}

.el-input-number--small {
    width: 100% !important;
}

.el-table .cell {
    overflow: visible !important;
}

.el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {
    background: #f5f5f5
}

.el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background: #ddd;
}

.el-collapse-item__header {
    background-color: #fafafa !important;
    border-left: 1px solid #EBEEF5;
    border-right: 1px solid #EBEEF5;
    padding: 0 2rem;
}

.el-collapse-item__content {
    padding: 1rem;
    border: 1px solid #EBEEF5;
    border-bottom: 0;
}

.el-input.w-search .el-input__inner,
.el-input.w-search,
.el-select.w-search {
    width: 10rem;
}

.el-form-item.w-search .el-form-item__label {
    font-size: 1.2rem;
}

.table-search .el-form--inline .el-form-item {
    margin-bottom: 0;
}

.el-dropdown {
    font-size: 1.3rem;
}

.el-dropdown-menu__item {
    font-size: 1.3rem;
}

.el-dropdown-menu__item a {
    color: #333;
}

.el-input__inner:focus {
    border-color: var(--main-color);
}

.el-date-editor.el-input.w-auto,
.el-date-editor.el-input__inner.w-auto {
    width: auto;
}

.el-table .active-row {
    background: rgba(0, 0, 0, 0.15);
}

.el-table .table-green-row {
    background: rgba(0, 255, 0, 0.15);
}

.el-table .table-red-row {
    background: rgba(255, 0, 0, 0.15);
}

.el-table .table-green-row td {
    background: transparent !important;
}

.el-table .table-red-row td {
    background: transparent !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: auto
}

.el-table .active-row td {
    background: transparent !important;
}

.el-table--border th {
    background-color: #fafafa;
}

.el-table thead.is-group th.el-table__cell {
    background: var(--el-table-header-bg-color) !important;
}


.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: var(--main-color);
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: var(--main-color);
}

.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon {
    width: inherit;
}

.el-dialog {
    max-width: 96%;
}

.el-dialog__body .el-form-item:last-child {
    margin-bottom: 0;
}

.el-input-group__append,
.el-input-group__prepend {
    padding: 0 6px !important;
    /* background-color: transparent !important; */
}

.el-checkbox__label .el-icon {
    vertical-align: middle;
    margin-top: -2px;
}

/* .el-input__inner:read-only {
    background-color: #fafafa;
} */

.el-color-picker {
    vertical-align: middle;
}

.el-color-picker__trigger {
    border: 0 !important;
}

.el-color-picker__color {
    border: 0 !important;
    border-radius: 2px;
}

.el-color-picker__color-inner {
    border-radius: 2px;
}

.el-message {
    min-width: 10rem !important;
}

.card-header {
    font-size: 1.4rem;
}


.forward-wrap .el-table--small.el-table .el-table__expanded-cell[class*=cell] {
    padding: 20px 50px 20px 50px;
}


h3.title {
    font-size: 1.6rem;
    padding-bottom: .6rem;
    color: #555;
}

.el-message-box {
    max-width: 90% !important;
    width: fit-content !important;
}

.el-select-dropdown__item {
    padding-right: 2rem !important;
}

.el-form-item--default {
    --font-size: 13px !important;
}

.el-input__inner {
    font-size: 13px;
}
.el-input.success .el-input__wrapper{
    box-shadow: 0 0 0 1px #008000 inset;
}
.el-input.error .el-input__wrapper{
    box-shadow: 0 0 0 1px #ff6600 inset;
}

.el-dialog--center .el-dialog__body {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

@media screen and (max-width: 1000px) {
    body .phone-hide{
        display: none;
    }
}