@inherits LayoutComponentBase

<div class="absolute flex flex-column flex-nowrap">
    <div class="body flex-1">@Body</div>
    <div class="footer">
        <linker.app.Components.Layout.Footer></linker.app.Components.Layout.Footer>
    </div>
</div>