@inherits LayoutComponentBase

<div class="absolute flex flex-column flex-nowrap">
    <linker.app.Components.Layout.Header></linker.app.Components.Layout.Header>
    <div class="body flex-1 scrollbar">@Body</div>
    <linker.app.Components.Layout.Footer></linker.app.Components.Layout.Footer>
</div>