name: LoongArch
'on':
  workflow_dispatch: null
jobs:
  build-loongarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: setup install
        run: sudo apt-get install binutils tar gzip

      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: setup qemu
        uses: docker/setup-qemu-action@v3

      - name: build web
        run: |
          cd src/linker.web && \
          npm install && \
          npm run build && \
          cd ../../
        
      - name: build linker with loongnix docker
        run: |
          docker run --rm --platform linux/loong64 \
            -v ${{ github.workspace }}:/dst \
            -w /dst \
            snltty/loongarch:latest \
            /bin/bash -c "
            find src -type f -name "*.csproj" -exec sed -i 's/net8.0/net9.0/g' {} \; && \
            cat src/linker/linker.csproj && \
            dotnet nuget locals all --clear && \
            uname -m && \
            dotnet publish src/linker -c release -f net9.0 -o public/publish/loongarch64 -r linux-loongarch64 -p:PublishSingleFile=true  --self-contained true
            "
      - name: zip package
        run: |
          cp -rf public/extends/any/web public/publish/loongarch64/web
          mkdir -p public/publish/loongarch64/configs
          mkdir -p public/publish/loongarch64/logs
          zip -r linker-loongarch64.zip public/publish/loongarch64

      - name: get latest release
        id: get_release
        run: |
          response=$(curl -s \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.ACTIONS_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases/latest")
          upload_url=$(echo "$response" | jq -r '.upload_url')
          echo "upload_url=$upload_url" >> $GITHUB_OUTPUT

      - name: upload
        id: upload
        uses: 'actions/upload-release-asset@master'
        env: {
          'GITHUB_TOKEN': '${{ secrets.ACTIONS_TOKEN }}'
        }
        with: {
          'upload_url': '${{ steps.get_release.outputs.upload_url }}',
          'asset_path': 'linker-loongarch64.zip',
          'asset_name': 'linker-loongarch64.zip',
        }