name: LoongArch
'on':
  workflow_dispatch: null
jobs:
  build-loongarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build with loongnix docker
        run: |
          docker run --rm --platform linux/loong64 \
            -v ${{ github.workspace }}:/src \
            -w /src \
            cr.loongnix.cn/loongson/loongnix:20 \
            /bin/bash -c "
              apt-get update --allow-unauthenticated || true && \
              apt install dotnet-sdk-8.0
            "