name: LoongArch
'on':
  workflow_dispatch: null
jobs:
  build-loongarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build with manual .NET installation
        run: |
          sudo apt-get update || true && \
          sudo apt-get install -y gnupg curl wget ca-certificates && \
          docker run --rm --platform linux/loong64 \
            -v ${{ github.workspace }}:/src \
            -w /src \
            loongarch64/debian:latest \
            /bin/bash -c "
              apt update --allow-unauthenticated && \
              apt-get install -y wget curl ca-certificates --no-install-recommends && \
              wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh \
              && chmod +x dotnet-install.sh \
              && ./dotnet-install.sh --version 8.0.303 --architecture loongarch64 --install-dir /usr/share/dotnet \
              && ln -s /usr/share/dotnet/dotnet /usr/bin/dotnet && \
              dotnet publish src/linker -c Release \
                -r linux-loongarch64 \
                --self-contained true \
                -p:PublishSingleFile=true \
                -p:IncludeNativeLibrariesForSelfExtract=true \
                -o /src/publish
            "