name: LoongArch
'on':
  workflow_dispatch: null
jobs:
  build-loongarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build with manual .NET installation
        run: |
          sudo apt-get update || true && \
          sudo apt-get install -y gnupg curl wget ca-certificates && \
          docker run --rm --platform linux/loong64 \
            -v ${{ github.workspace }}:/src \
            -w /src \
             loongarch64/debian:latest \
            /bin/bash -c "
              cp /etc/apt/sources.list /etc/apt/sources.list.bak \
              tee /etc/apt/sources.list > /dev/null <<EOF
              deb http://deb.debian.org/debian sid main
              deb http://security.debian.org/debian-security sid-security main
              EOF \
              apt update --allow-unauthenticated \
              apt install -y gnupg \
              gpg --keyserver keyserver.ubuntu.com --recv-keys C6894E6BB25B9C99 \
              gpg --export C6894E6BB25B9C99 | sudo tee /etc/apt/trusted.gpg.d/debian-ports.gpg > /dev/null \
              cp /etc/apt/sources.list.bak /etc/apt/sources.list \
              apt update && \
              apt install dotnet-sdk-8.0 && \
              dotnet publish src/linker -c Release \
                -r linux-loongarch64 \
                --self-contained true \
                -p:PublishSingleFile=true \
                -p:IncludeNativeLibrariesForSelfExtract=true \
                -o /src/publish
            "