name: LoongArch
'on':
  workflow_dispatch: null
jobs:
  build-loongarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build with manual .NET installation
        run: |
          sudo apt-get update || true && \
          sudo apt-get install -y gnupg curl wget ca-certificates && \
          docker run --rm --platform linux/loong64 \
            -v ${{ github.workspace }}:/src \
            -w /src \
            loongarch64/debian:latest \
            /bin/bash -c "
              apt-key adv --keyserver keyserver.ubuntu.com --recv-keys C6894E6BB25B9C99 || \
              (echo '密钥获取失败，尝试跳过签名检查' && echo 'Acquire::AllowInsecureRepositories "true";' > /etc/apt/apt.conf.d/99allow-insecure && echo 'Acquire::AllowDowngradeToInsecureRepositories "true";' >> /etc/apt/apt.conf.d/99allow-insecure) && \
              apt-get update --allow-unauthenticated || true && \
              apt-get install -y wget curl ca-certificates --no-install-recommends --allow-unauthenticated && \
              wget https://ftp.loongnix.cn/dotnet/8.0.22/8.0.22-1/deb/ -c -r -np -nd -k -L -p -A deb -A md5 && \
              apt install ./dotnet-host_8.0.22-1_loongarch64.deb \
                ./dotnet-hostfxr-8.0_8.0.22-1_loongarch64.deb \
                ./dotnet-runtime-deps-8.0_8.0.22-1_loongarch64.deb \
                ./dotnet-runtime-8.0_8.0.22-1_loongarch64.deb \
                ./dotnet-targeting-pack-8.0_8.0.22-1_loongarch64.deb \
                ./aspnetcore-targeting-pack-8.0_8.0.22-1_loongarch64.deb \
                ./dotnet-apphost-pack-8.0_8.0.22-1_loongarch64.deb \
                ./aspnetcore-runtime-8.0_8.0.22-1_loongarch64.deb \
                ./netstandard-targeting-pack-2.1_2.1.0-1_loongarch64.deb \
                ./dotnet-sdk-8.0_8.0.122-1_loongarch64.deb
            "